---
import Container from "../components/Container.astro";
---

<div id="contact-us" class="relative">
    <div
        aria-hidden="true"
        class="absolute -z-10 inset-0 grid grid-cols-2 -space-x-96 opacity-40 dark:opacity-20"
    >
        <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary dark:to-purple-400 dark:from-blue-700"
        >
        </div>
        <div
            class="blur-[106px] h-32 bg-gradient-to-r dark:from-cyan-400 to-sky-300 dark:to-indigo-600"
        >
        </div>
    </div>
    <Container>
        <div class="relative">
            <!-- <div class="flex items-center justify-center -space-x-2">
                <img
                    loading="lazy"
                    width="400"
                    height="400"
                    src="./images/avatars/avatar.webp"
                    alt="member photo"
                    class="h-8 w-8 rounded-full object-cover"
                />
                <img
                    loading="lazy"
                    width="200"
                    height="200"
                    src="./images/avatars/avatar-2.webp"
                    alt="member photo"
                    class="h-12 w-12 rounded-full object-cover"
                />
                <img
                    loading="lazy"
                    width="200"
                    height="200"
                    src="./images/avatars/avatar-3.webp"
                    alt="member photo"
                    class="z-10 h-16 w-16 rounded-full object-cover"
                />
                <img
                    loading="lazy"
                    width="200"
                    height="200"
                    src="./images/avatars/avatar-4.webp"
                    alt="member photo"
                    class="relative h-12 w-12 rounded-full object-cover"
                />
                <img
                    loading="lazy"
                    width="200"
                    height="200"
                    src="./images/avatars/avatar-1.webp"
                    alt="member photo"
                    class="h-8 w-8 rounded-full object-cover"
                />
            </div> -->
            <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
                <h1
                    class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl"
                >
                    Contact us
                </h1>
                <p class="text-center text-xl text-gray-600 dark:text-gray-300">
                    Got questions or need assistance? Reach out to us today and
                    let our team help you achieve your goals.
                </p>
            </div>
        </div>
        <div class="flex mt-12 w-full justify-center align-top">
            <form
                action="https://api.web3forms.com/submit"
                method="POST"
                class="flex flex-col md:w-2/3 px-8 py-8 border border-gray-100 dark:border-gray-700 rounded-3xl bg-white dark:bg-gray-800"
            >
                <!-- Replace with your Access Key -->
                <input
                    type="hidden"
                    name="access_key"
                    value="50248df4-7ae0-46bb-9a9d-47b24d889d3f"
                />

                <div class="flex flex-wrap mb-6">
                    <div class="w-full md:w-1/2 md:pr-3 mb-6 md:mb-0">
                        <label
                            class="block uppercase tracking-wide text-xs font-bold mb-2 text-gray-700 dark:text-white"
                            for="grid-first-name"
                        >
                            First Name
                        </label>
                        <input
                            class="appearance-none block w-full placeholder:text-gray-400 bg-gray-100 dark:bg-gray-200 text-gray-700 border rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                            id="grid-first-name"
                            type="text"
                            name="first_name"
                            placeholder="Jane"
                            required
                        />
                    </div>
                    <div class="w-full md:w-1/2 md:pl-3">
                        <label
                            class="block uppercase tracking-wide text-gray-700 dark:text-white text-xs font-bold mb-2"
                            for="grid-last-name"
                        >
                            Last Name
                        </label>
                        <input
                            class="appearance-none block w-full bg-gray-100 dark:bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                            id="grid-last-name"
                            type="text"
                            name="last_name"
                            placeholder="Doe"
                        />
                    </div>
                </div>

                <div class="flex flex-wrap mb-6">
                    <label
                        class="block uppercase tracking-wide text-gray-700 dark:text-white text-xs font-bold mb-2"
                        for="grid-email"
                    >
                        Email
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-100 dark:bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-email"
                        type="text"
                        name="email"
                        placeholder="Doe"
                    />
                </div>

                <div class="flex flex-wrap mb-6">
                    <label
                        class="block uppercase tracking-wide text-gray-700 dark:text-white text-xs font-bold mb-2"
                        for="grid-subject"
                    >
                        Subject
                    </label>
                    <input
                        class="appearance-none block w-full bg-gray-100 dark:bg-gray-200 text-gray-700 dark:text-white border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-subject"
                        type="text"
                        name="subject"
                        placeholder="Interested in Pricing for Software Development"
                    />
                </div>

                <div class="flex flex-wrap mb-6">
                    <label
                        class="block uppercase tracking-wide text-gray-700 dark:text-white text-xs font-bold mb-2"
                        for="grid-message"
                    >
                        Message
                    </label>
                    <textarea
                        class="appearance-none block w-full bg-gray-100 dark:bg-gray-200 text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="grid-message"
                        name="message"
                        placeholder="Tell us how to help you"></textarea>
                </div>



                <div class="flex flex-wrap justify-center gap-6">
                     <!-- hCaptcha Spam Protection -->
                    <div class="h-captcha mb-6" data-captcha="true"></div>
                    <button
                        type="submit"
                        class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                        <span
                            class="relative text-base font-semibold text-white dark:text-dark"
                            >Submit</span
                        >
                    </button>
                </div>
            </form>
        </div>
    </Container>
</div>

<!-- Required for hCaptcha -->
<script src="https://web3forms.com/client/script.js" async defer></script>
