---
import Container from "./Container.astro";
---

<div class="relative" id="home">
    <div
        aria-hidden="true"
        class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
    >
        <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
        >
        </div>
        <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
        >
        </div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <!-- <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Shaping a world with <span class="text-primary dark:text-white">reimagination.</span></h1> -->
                <h1
                    class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
                >
                    <span
                        class="group text-7xl md:text-8xl xl:text-9xl text-primary brightness-100 hover:brightness-125 tracking-tight hover:tracking-wider transition-all duration-300 relative select-none"
                    >
                        Unleash
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 104.44616629319917%; --sparkle-translate-y: 78.15520391901718%; --sparkle-size: 4.670123164702866px; --sparkle-opacity: 0.7743796120350714; --sparkle-animation-delay: 1.6975207552902398s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 91.23133220686306%; --sparkle-translate-y: 92.38039764677222%; --sparkle-size: 3.5661242247015044px; --sparkle-opacity: 0.9795162327243638; --sparkle-animation-delay: 0.8688694140148088s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 55.38434447198483%; --sparkle-translate-y: 61.11506034058209%; --sparkle-size: 3.9741557955297315px; --sparkle-opacity: 0.37919746038013136; --sparkle-animation-delay: 0.36404316901134015s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 35.331793483597586%; --sparkle-translate-y: 99.55441083917808%; --sparkle-size: 2.418435027419386px; --sparkle-opacity: 0.42466534210961904; --sparkle-animation-delay: 0.5253938023543134s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 58.73281526341286%; --sparkle-translate-y: 6.45237209459475%; --sparkle-size: 2.795281751613549px; --sparkle-opacity: 0.6943109572225374; --sparkle-animation-delay: 1.534473426186057s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 77.95937126597677%; --sparkle-translate-y: -26.14461710259259%; --sparkle-size: 2.6959919176949874px; --sparkle-opacity: 0.46914789954599967; --sparkle-animation-delay: 0.00872516502358578s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 34.988816792133974%; --sparkle-translate-y: 19.890276571789855%; --sparkle-size: 4.826660861209781px; --sparkle-opacity: 0.22593107726688624; --sparkle-animation-delay: 1.0694804662101856s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 62.96744992872979%; --sparkle-translate-y: 1.6870303048959734%; --sparkle-size: 2.9438057861660907px; --sparkle-opacity: 0.39050137421354925; --sparkle-animation-delay: 1.0749770174121835s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 2.344869802414939%; --sparkle-translate-y: 88.45868773042609%; --sparkle-size: 3.4892234401723763px; --sparkle-opacity: 0.7231265156521371; --sparkle-animation-delay: 0.9436313483225389s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 87.69370758067807%; --sparkle-translate-y: -15.634063530128342%; --sparkle-size: 3.4888602005205995px; --sparkle-opacity: 0.8979334212575787; --sparkle-animation-delay: 0.2662071362485037s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: -5.788899836123314%; --sparkle-translate-y: 43.5129451581369%; --sparkle-size: 2.881504652168445px; --sparkle-opacity: 0.2634864228873001; --sparkle-animation-delay: 1.772168674772857s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 89.78881421728836%; --sparkle-translate-y: -10.409025805695123%; --sparkle-size: 3.5304569530868495px; --sparkle-opacity: 0.33486852934005357; --sparkle-animation-delay: 1.9628324395684875s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 82.0168442476036%; --sparkle-translate-y: 62.67530074191214%; --sparkle-size: 4.006985142730006px; --sparkle-opacity: 0.7009480641824732; --sparkle-animation-delay: 1.1332413093329579s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 46.903393333826536%; --sparkle-translate-y: 98.70266803725892%; --sparkle-size: 3.489042877356498px; --sparkle-opacity: 0.9459309680027248; --sparkle-animation-delay: 1.165794665115653s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 77.646320733977%; --sparkle-translate-y: 46.07217181924733%; --sparkle-size: 4.183005509138166px; --sparkle-opacity: 0.6762039258763124; --sparkle-animation-delay: 1.8316847369161422s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 6.501619084905087%; --sparkle-translate-y: 81.82057941908785%; --sparkle-size: 3.8408493122850222px; --sparkle-opacity: 0.7346648489232999; --sparkle-animation-delay: 0.30429048171295103s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 71.08546659542228%; --sparkle-translate-y: 2.85185365155629%; --sparkle-size: 3.1886362217142645px; --sparkle-opacity: 0.201505088093338; --sparkle-animation-delay: 1.5262884692554082s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 78.55771666839085%; --sparkle-translate-y: 25.723593602122165%; --sparkle-size: 4.62197226095876px; --sparkle-opacity: 0.8646525952196511; --sparkle-animation-delay: 0.5881698443905936s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 16.148086488320722%; --sparkle-translate-y: -15.150707766023313%; --sparkle-size: 3.705494265000441px; --sparkle-opacity: 0.4114191778123273; --sparkle-animation-delay: 1.642944501955416s;"
                        ></span>
                        <span
                            class="sparkle"
                            style="--sparkle-translate-x: 81.9005522765271%; --sparkle-translate-y: 87.02079414972573%; --sparkle-size: 4.441903725588571px; --sparkle-opacity: 0.32450820646566125; --sparkle-animation-delay: 1.775020045376748s;"
                        ></span>
                    </span>
                    <br class="block md:hidden" /> your <br
                        class="hidden md:block"
                    /> business potential
                </h1>
            </div>
            <p class="mt-8 text-gray-700 dark:text-gray-300 text-center">
                Unlock new possibilities and achieve extraordinary results with
                software designed to empower your team and fuel your growth.
            </p>
            <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                <a
                    href="#contact-us"
                    class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                    <span class="relative text-base font-semibold text-white"
                        >Contact Us</span
                    >
                </a>
                <a
                    href="#services"
                    class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                >
                    <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                    >
                </a>
            </div>
            <div
                class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between gap-2"
            >
                <div class="text-left">
                    <h6
                        class="text-lg font-semibold text-gray-700 dark:text-white"
                    >
                        Effortless
                    </h6>
                    <p class="mt-2 text-gray-500">
                        Simple to learn, easy to use. Empowering all teams.
                    </p>
                </div>
                <div class="text-left">
                    <h6
                        class="text-lg font-semibold text-gray-700 dark:text-white"
                    >
                        Rock-Solid
                    </h6>
                    <p class="mt-2 text-gray-500">
                        Stable & secure. Focus on your business, not your
                        software.
                    </p>
                </div>
                <div class="text-left">
                    <h6
                        class="text-lg font-semibold text-gray-700 dark:text-white"
                    >
                        Scalable
                    </h6>
                    <p class="mt-2 text-gray-500">
                        Grow with Confidence. Never be held back.
                    </p>
                </div>
            </div>
        </div>
        <section class="text-gray-700 mt-16 dark:text-gray-200 text-center">
            <div>
                <h3 class="">Our Trusted Technology Partners</h3>
            </div>
            <div class="mt-4 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div
                    class="p-4 brightness-[.40] transition duration-200 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/gh.png"
                        class="h-auto w-auto m-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale transition duration-200 hover:grayscale-0 flex items-center"
                >
                    <img
                        src="./images/partners/do.png"
                        class="max-h-12 w-full mx-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale transition duration-200 hover:grayscale-0 flex items-center"
                >
                    <img
                        src="./images/partners/nl.png"
                        class="max-h-14 w-auto max-w-full m-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale brightness-[.40] transition duration-200 hover:grayscale-0 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/sc.png"
                        class="h-auto w-auto mx-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale brightness-[.40] transition duration-200 hover:grayscale-0 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/sk.png"
                        class="max-h-16 w-auto m-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale brightness-[.60] transition duration-200 hover:grayscale-0 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/nt.png"
                        class="max-h-16 h-auto w-auto max-w-full mx-auto"
                        loading="lazy"
                        alt="client logo"
                        width=""
                        height=""
                    />
                </div>
            </div>
        </section>
    </Container>
</div>

<style>
    .sparkle {
	position: absolute;
	top: var(--sparkle-translate-y, 0);
	left: var(--sparkle-translate-x, 0);
	width: var(--sparkle-size);
	height: var(--sparkle-size);
	border-radius: 50%;
	opacity: var(--sparkle-opacity, 0);
	pointer-events: none;
	transform-origin: center;
	animation: sparkleAnim 2s infinite;
	animation-delay: var(--sparkle-animation-delay, 0s);

    @apply bg-primary;
    @apply bg-opacity-0 group-hover:bg-opacity-100 transition-all duration-300;
}

@keyframes sparkleAnim {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
</style>