---
import Container from "./Container.astro";
---

<div class="relative" id="home">
    <div
        aria-hidden="true"
        class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
    >
        <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
        >
        </div>
        <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
        >
        </div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <!-- <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Shaping a world with <span class="text-primary dark:text-white">reimagination.</span></h1> -->
                <h1
                    class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
                >
                    <span class="text-7xl md:text-8xl xl:text-9xl text-primary"
                        >Unleash</span
                    > <br class="block md:hidden"> your <br class="hidden md:block"> business potential
                </h1>
            </div>
            <p class="mt-8 text-gray-700 dark:text-gray-300 text-center">
                Unlock new possibilities and achieve extraordinary results with software designed to empower your team and fuel your growth.
            </p>
            <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                <a
                    href="#contact-us"
                    class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                    <span class="relative text-base font-semibold text-white"
                        >Contact Us</span
                    >
                </a>
                <a
                    href="#services"
                    class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                >
                    <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Learn more</span
                    >
                </a>
            </div>
            <div
                class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between gap-2"
            >
                <div class="text-left">
                    <h6
                        class="text-lg font-semibold text-gray-700 dark:text-white"
                    >
                        Effortless
                    </h6>
                    <p class="mt-2 text-gray-500">
                        Simple to learn, easy to use. Empowering all teams.
                    </p>
                </div>
                <div class="text-left">
                    <h6
                        class="text-lg font-semibold text-gray-700 dark:text-white"
                    >
                        Rock-Solid
                    </h6>
                    <p class="mt-2 text-gray-500">
                        Stable & secure. Focus on your business, not your
                        software.
                    </p>
                </div>
                <div class="text-left">
                    <h6
                        class="text-lg font-semibold text-gray-700 dark:text-white"
                    >
                        Scalable
                    </h6>
                    <p class="mt-2 text-gray-500">
                        Grow with Confidence. Never be held back.
                    </p>
                </div>
            </div>
        </div>
        <section class="text-gray-700 mt-16 dark:text-gray-200 text-center">
            <div>
                <h3 class="">Our Trusted Technology Partners</h3>
            </div>
            <div class="mt-4 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
                <div
                    class="p-4 brightness-[.40] transition duration-200 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/gh.png"
                        class="h-auto w-auto m-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale transition duration-200 hover:grayscale-0 flex items-center"
                >
                    <img
                        src="./images/partners/do.png"
                        class="max-h-12 w-full mx-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale transition duration-200 hover:grayscale-0 flex items-center"
                >
                    <img
                        src="./images/partners/nl.png"
                        class="max-h-14 w-auto max-w-full m-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale brightness-[.40] transition duration-200 hover:grayscale-0 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/sc.png"
                        class="h-auto w-auto mx-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale brightness-[.40]  transition duration-200 hover:grayscale-0 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/sk.png"
                        class="max-h-16 w-auto m-auto"
                        loading="lazy"
                        alt="partner logo"
                        width=""
                        height=""
                    />
                </div>
                <div
                    class="p-4 grayscale brightness-[.60]  transition duration-200 hover:grayscale-0 hover:brightness-100 flex items-center"
                >
                    <img
                        src="./images/partners/nt.png"
                        class="max-h-16 h-auto w-auto max-w-full mx-auto"
                        loading="lazy"
                        alt="client logo"
                        width=""
                        height=""
                    />
                </div>
            </div>
        </section>
    </Container>
</div>
