---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
---


<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="twitter:title" content="Invntio">
		<meta name="twitter:description" content="Unleash your business potential with Invntio">
		<meta name="twitter:image" content="./images/preview.png">
		<meta name="twitter:card" content="./images/preview.png">
		<title>Invntio</title>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white dark:bg-black">
		<AppHeader/>
		<slot />
		<AppFooter/>
	</body>
</html>
<style>
	html {
		font-family: Poppins, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
	}
</style>